In [1]:
import mysql.connector as conn

In [2]:
conn = conn.connect(host="127.0.0.1",
                    user ="root",
                    password="pas",
                    database = "entries"
)

In [3]:
cursor = conn.cursor(buffered=True)

In [ ]:
import pandas as pd
pd.read_sql("select * from entries.dictionary",conn)

this database contains english dictionary. taken [from this website ](https://www.bragitoff.com/2016/03/english-dictionary-in-csv-format/) in csv format then converted into sql text file this dictionary contains 176023 words along with its type and defination lets do some stuff with this

##### how many words are there that starts with a or b?

In [ ]:
# cursor.execute("select count(*) from dictionary where word regexp ('^a')")
pd.read_sql("select count(*) from entries.dictionary where word regexp ('^a')",conn)

In [ ]:
pd.read_sql("select count(*) from dictionary where word regexp ('^b')",conn)

### how many words are one letter long ?
for a and k

In [ ]:
pd.read_sql("select count(*) from dictionary  where word like 'a'",conn)

In [ ]:
pd.read_sql("select count(*) from dictionary  where word like 'k'",conn)

### top 10 words that starts with x

In [ ]:
pd.read_sql("select * from dictionary where word like 'x%' limit 10  ",conn)

### word with maximum letters?

In [ ]:
pd.read_sql("select MAX(char_length(word)) from dictionary ",conn)

In [ ]:
pd.read_sql("select max(length(word))from dictionary ",conn)

#### word that have exactly 3 letters in them

In [ ]:
pd.read_sql("select word from dictionary where length(word)=3 order by word desc limit 10",conn)

In [ ]:
pd.read_sql("select word from dictionary where (select max(length(word))from dictionary )",conn)

In [ ]:
# actually there is 24 blank spaces in the output field and its not actually longest word lets remove the spaces

In [ ]:
pd.read_sql("select word,max(length(rtrim(word)))from dictionary ",conn)

In [ ]:
pd.read_sql("select max(length(ltrim(word)))from dictionary ",conn)

### what  word occurs after word kayak?

In [ ]:
pd.read_sql("select word from dictionary where word like 'kayak%' limit 1",conn)

### word with combination of ab-a/c?

In [ ]:
pd.read_sql("select word from dictionary where word regexp 'ab[a|b|c|d]' order by word limit 10",conn)

In [ ]:
### word starts with aba or abn?

In [ ]:
pd.read_sql("select word from dictionary where word regexp '^ab[an]' order by word desc limit 10",conn)

### words that are palindrome?

In [ ]:
pd.read_sql("SELECT rtrim(word) FROM dictionary WHERE word =  REVERSE(word) order by  length(word) desc limit 11",conn)

In [ ]:
pd.read_sql("SELECT COUNT(word) FROM dictionary WHERE word =  REVERSE(word)",conn)

In [ ]:
### creating updated copy of dictionary

# pd.read_sql("create table clean_dict select * from dictionary",conn)

### checking if the dictionary have duplicate columns

In [ ]:
pd.read_sql("SELECT word, COUNT(*) AS CNT FROM dictionary GROUP BY word HAVING COUNT(*) > 1;",conn)

### deleting the duplicate data

original sql database do not have any primary key so imma add a new primary key first then delete the data

In [ ]:
pd.read_sql("ALTER TABLE dictionary ADD id int NOT NULL AUTO_INCREMENT primary key",conn)

# pd.read_sql("DELETE FROM dictionary WHERE ID NOT IN (SELECT MAX(word) AS Max FROM dictionary GROUP BY word");

In [ ]:
pd.read_sql("select * from dictionary limit 10",conn)

#### i will delete all the values that occurs multiple times by joining table with itself and then checking if they have same id or not

In [ ]:
pd.read_sql("delete d from dictionary d,dictionary c where d.id > c.id and d.word = c.word",conn)